<div class='titleDash medium-4 small-12 columns'><%= link_to contribution.gift.title, gift_path(contribution.gift) %></div>
<div class='money medium-5 small-6 columns'>Your Contribution: <%= number_to_currency(contribution.amount/1000) %></div>
