<div class="row">
  <div class='stripeStatus'>You must first connect a stripe account to create a gift</div>
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
  <br>
  <%= link_to "STRIPE CONNECT", user_omniauth_authorize_path(:stripe_connect) %>
</div>