input, textarea {
  font-size: 1em;
  display: block;
  padding: .6em;
  background:none;
  background-image:none;
  border: $border;
  color: $main;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color: $light-gray;
  }
}

textarea {
  border: $border;
  resize: vertical;
}

label {
  position: absolute;
  left: .6em;
  bottom: .6em;
  color: rgba(0,0,0,0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1em;
  margin: 0;
}

.field {
  position: relative;
  margin-top: 1.3em;
}

.field .active {
  // -webkit-transform: translateX(- .6em) translateY(- .6em);
  transform: translateX(- .6em) translateY(- 2.5em);
  font-size: .8em;
}