// VARIABLES
$navbar-height: 45px;

// NAV
.top-bar {
  z-index: 998;
  width: 100%;
  .user-avatar {
    height: $navbar-height;
  }
}

.top-bar-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $purple;
    // border-top: $border;
    // border-bottom: $border;
    margin: 0;
    z-index: 998;
}

.content {
  padding-top: $navbar-height;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100vw;
  // background-color: rgba(255,255,255,0.95);
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-right: $border;
  border-left: $border;
  padding: 0;
  margin: 0;
  .sign-in {
    padding: 0 1em;
  }
}

// REMOVES LEFT PADDING ON AVATAR
@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button)  {
      // line-height: 0;
    padding: 0 0;
  }
}

// Dropdown
ul.menu.medium-6.large-4.columns.right {
  text-align: right;
  // padding-right: 0;
}

.menu li {
  padding: 1em 0;
  border-bottom: $border;
}

.menu {
  display: none;
  top: $navbar-height;
  background-color: $trans-white;
  z-index: 999;
  border: $border;
}

.main a {
  color: $main;
  text-decoration: none;
}

.main .home-button h1 {
  font-size: 1.7em;
  margin-top: .3em;
}

.main h2 {
  margin-top: 1em;
}

.name img {
  margin-top: 0.4em;
  margin-left: 0.5em;
  height: 2.0em;
  width: 2.0em;
  vertical-align: middle;
}



