// VARIABLES
$navbar-height: 50px;
// $menu-width: span(12);


// NAV
.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  height: $navbar-height;
  background-color: rgba(255,255,255,0.90);
  border-bottom: $border;
  z-index: 999;
}

.navbar .main {
  // @include container;
  position: relative;
  display: flex; 
  height: 100%;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  height: $navbar-height;
  border-right: $border;
  border-left: $border;
}

.menu li {
  padding: 2em 0;
}

.menu {
  width: 100vw;
  position: absolute;
  top: 0;
  right: - 100vw;
  // width: $menu-width;
  height: 100vh;
}

.home-button {
  position: absolute;
  height: 100%;
  // border-right: $border;
  // border-left: $border;   
}

.site-wrapper.show-menu .site-canvas {
  -webkit-transform: translateX(- 100vw);
  transform: translateX(- 100vw);
}

// off canvas setup
.site-wrapper {
  width: 100vw;
  position: relative;
  top: $navbar-height;
  overflow-x: hidden;  
  min-height: 100vh;
}

.site-canvas {
  width: 100vw;
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.main a {
  color: $main;
  text-decoration: none;
}

.main .home-button h1 {
  font-size: 1.7em;
  margin-top: .3em;
}

.main h2 {
  margin-top: 1em;
}



