
<div class = "parallax-background">
<div class = "logo text-center">
	<img src="assets/robin_logo.svg"/>
</div>

	<div class = "intro-text">
		<h2 class='welcomeh2'>Welcome to Robin</h2>
		<h3 class='welcomeh3'>be a giver.</h3>
		<%= link_to "Create Account", new_user_registration_path, method: "get", class: "radius alert button" %>
	</div>
</div>
<div class = "parallax-content">
<div class = "row">
	<div class = "large-4 columns">
	<h4 class='welcomeh4'>Do something special.</h4>
		<div class="mainimg text-center">	<img src ="assets/man204.svg"/>
		</div>	
		<p>Everybody loves gifts. With Robin, its never
		been easier to get something special for any occiasion. We give you the tools to get
		together with friends, organize, and
		purchase a gift for somebody- all from one easy
		to use application. The first step is to register
		your account. From your personal dashboard,
		you can create a 'gift' or group where you and 
		friends can pick a gift, set a funding goal, pick how long you want to raise funds, and
		make contributions toward its funding. 
		</p>
		</div>
		<div class = "large-4 columns">
			<h4 class='welcomeh4'>Easy payment with stripe</h4>
			<div class="mainimg text-center">
		<img src ="assets/creditcard3.svg"/>
		</div>
		<p>
			At Robin, we believe in making the gifting process
		pain-free. Instead of trying to coordinate different
		methods of payments, into one place, over a period of time, we make it simple. Robin gives you a central location make those payments, so you dont have to deal with it. When you register, we also help you register a secure account
		with the payment company Stipe. Quick and easy, you
		will even be able to use this account in the future 
		to sign in, make new gifts, and coordinate with others.
		</p>
		</div>
	<div class = "large-4 columns">
	<h4 class='welcomeh4'>Gifting made easy.</h4>
		<div class="mainimg text-center">
			<img src ="assets/box17.svg"/>
		</div>
		<p>	We know keeping up with loved ones, and getting
		them that special gift isn't always easy. Robin wants to change that beginning with you. Robin is about bringing you the power to give.</p>
		<br>
		<blockquote>“We make a living by what we get. We make a life by what we give.”<cite>Winston S. Churchill</cite></blockquote>
		</br>
	</div>
	<div class = "row">
		<p class = "plug large-12 columns">So register and see what were all about. If you have any questions feel free to contact us at:
		<a href="mailto:hippowhobringsgifts@gmail.com">hippowhobringsgifts@gmail.com</a></address> 
		</p>
	</div>
</div>