
<div class = "parallax-background">
	<div class = "intro-text">
		<p><img src="assets/robin_logo.svg" /></p>
		<%= link_to "Create Account", new_user_registration_path, method: "get", class: "radius alert button" %>
	</div>
</div>
<div class = "parallax-content">
<div class = "row">
	<div class = "large-4 column">
		<p>Bacon ipsum dolor amet boudin picanha shankle, flank chuck shoulder ham hock kielbasa swine meatloaf frankfurter. Leberkas meatball landjaeger capicola, doner spare ribs tri-tip boudin tail pork chop turducken prosciutto ball tip salami biltong. Tri-tip meatball bresaola, jowl pork belly salami short loin kevin shoulder. Pork loin spare ribs meatloaf rump, porchetta landjaeger drumstick kielbasa strip steak picanha. Pork loin swine porchetta picanha tongue bresaola. Turkey spare ribs jerky porchetta, rump jowl flank ham cupim beef chuck.</p>
		</div>
	<div class = "large-4 column">
		<p>Bacon ipsum dolor amet boudin picanha shankle, flank chuck shoulder ham hock kielbasa swine meatloaf frankfurter. Leberkas meatball landjaeger capicola, doner spare ribs tri-tip boudin tail pork chop turducken prosciutto ball tip salami biltong. Tri-tip meatball bresaola, jowl pork belly salami short loin kevin shoulder. Pork loin spare ribs meatloaf rump, porchetta landjaeger drumstick kielbasa strip steak picanha. Pork loin swine porchetta picanha tongue bresaola. Turkey spare ribs jerky porchetta, rump jowl flank ham cupim beef chuck.</p>
	</div>
	<div class = "large-4 column">
		<p>Doner salami landjaeger short loin turducken alcatra, pork chop picanha tail spare ribs chicken swine porchetta hamburger jowl. Shank sirloin kevin kielbasa, pastrami jerky tri-tip strip steak meatball cow. Prosciutto tongue kevin, shank spare ribs shankle sirloin beef flank ham ground round pork. Ball tip pork loin drumstick, shoulder filet mignon pork belly pig shankle picanha pork chop rump doner.</p>
	</div>
</div>