
<div class = "parallax-background">
	<div class = "intro-text">
		<p>Robin</p>
		<%= link_to "Create Account", new_user_registration_path, method: "get", class: "radius alert button" %>
	</div>
</div>
<div class = "parallax-content">
</div>