<div class="row">
  <h1 class="medium-3 columns">Editing Gift</h1>
</div>

<%= render 'editForm' %>

<div class="row">
  <%= link_to 'Show', @gift, class: "small-2 columns" %>
  <%= link_to 'Back', gift_path, class: "small-2 columns" %>
</div>

